.layout {
    display: table;
    border-collapse: collapse;
    width: 100%;
    aside {
        display: table-cell;
        vertical-align: top;
        width: 20%;
    }
    section {
        display: table-cell;
        width: 80%;
    }
}