.footer
  display flex
  justify-content center
  position relative
  height 150px
  width 100%
  border-top 1px solid black
  margin-top 10%
  margin-bottom 10px

.footer-list
  display grid
  grid-template-columns repeat(3, 100px)
  justify-content center
  font-family 'Times New Roman', sans-serif
  height 150px
  gap 10px 15px
  margin-top 10px

.footer-link
  display inline-block
  transition all 0.25s ease-in-out
  font-family 'Times New Roman', sans-serif
  width 100%

  &:hover
    opacity 0.7

.footer-bag
  display flex
  justify-content center
  align-items center
  text-align center
  border 1px solid black
  border-radius 10px
  background-color #8B4513
  color #E0E0E0