.about-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F5F5DC;
    border-radius: 10px;
    padding-inline: 10px;
    .register {
        margin-bottom: 30px;
    }
}

.about-name {
    margin-top: 10px;
    font-size: 36px;
    border-radius: 10px;
}

.about-description {
    font-family: 'Times New Roman', sans-serif;
    font-size: 30px;
    max-width: 500px;
}

.about-img {
    height: 400px;
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
